<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	

<link rel="stylesheet" href="{{site.baseurl}}/style.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js"></script>

</head>
<body>
	

	{{content}}

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.0.1/Hyphenator.js"></script>

	<script type="text/javascript">
	        Hyphenator.run();
	</script>


</body>
</html>